{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="assets/css/null.style.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
</head>
<body>
    {{ template  "navigation"}}
    <header>
        <div class="profile">
            <span>Евгений</span>
            <div><img src="assets/image/avatar.jpg" alt=""></div>
        </div>
    </header>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="assets/js/script.js"></script>
</body>
</html>
{{end}}