{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="assets/css/null.style.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
    <div class="box">
        <div class="login">
            <img src="assets/image/login.svg" alt="">
            <div>
                <label>
                    <input type="text" id="login" required="required">
                    <span>Логин</span>
                    <i></i>
                    <p></p>
                </label>
                <label>
                    <input type="text" id="password" required="required">
                    <span>Пароль</span>
                    <i></i>
                    <p></p>
                </label>
            </div>
            <button id="btn">Войти</button>
        </div>
    </div>
<footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="assets/js/login.js"></script>
</body>
</html>
{{end}}